/*Colors blues:
#1EB0E0
#364069
#2A3154
#1A1D33

Colors greys:
#E1E5ED
#D0D5E0
#B8BECF
#777D8F

Support colors: 
#FA4645
#FFB82B
#1EE058
#7253E0
*/

:root {
	--blue: #1EB0E0;
    --dark-blue: #364069; 
	--darkest-blue: #1A1D33;
	--dark-grey: #777D8F;
	--light-grey: #D0D5E0;
	--red: #FA4645;
	--orange: #FFB82B;
	--green: #1EE058;
	--purple: #7253E0;
}



@font-face {
  font-family: 'Museo';
  src: url('fonts/MuseoSans_500.woff');
}

@font-face {
  font-family: 'Museo';
  src: url('fonts/MuseoSans_500_Italic.woff');
  font-style: italic;
}

@font-face {
  font-family: 'Museo';
  src: url('fonts/MuseoSans-300.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Museo';
  src: url('fonts/MuseoSans-300-Italic.otf');
  font-weight: 100;
  font-style: italic;
}


img[alt*="footer_logo"] {
  margin-top: 30px !important;
  width: 170px;
  float:right;
}

img[alt~="left"] {
  float:left;
}

img[alt~="right"] {
  float:right;
}

img[alt~="center"] {
  display:block;
  margin-left: auto !important;
  margin-right: auto !important;
}

img[alt~="tenth"] {
  width: 10%;
}

img[alt~="fifth"] {
  width: 20%;
}

img[alt~="quarter"] {
  width: 25%;
}

img[alt~="third"] {
  width: 33.3%;
}

img[alt~="half"] {
  width: 50%;
}

img[alt~="three_quarters"] {
  width: 75%;
}

img[alt~="left_center_quarter"] {
  float:left;
  width: 25%;
  margin-left: 16.6% !important;
  margin-right: 8.3% !important;
}

img[alt~="right_center_quarter"] {
  float:right;
  width: 25%;
  margin-right: 16.6% !important;
  margin-left: 8.3% !important;
}

.rendered_html table
{
  font-size: 120% !important;
  color: #1A1D33 !important;
}

.cell
{
  background-color: white;
  color: #1A1D33 !important;
}

.text_cell_render.rendered_html
{
  margin: 0;
  padding-top: 0;
  color: #1A1D33 !important;
}

.rendered_html,
.rendered_html h1,
.rendered_html h2,
.rendered_html h3,
.rendered_html h4,
.rendered_html h5,
.rendered_html h6
{
  font-family: 'Museo' !important;
  margin-top: 30px;
  color: #1A1D33
}

.rendered_html span
{
  font-family: 'Museo' 'Source Code Pro' !important;
}

.rendered_html h1
{
  color: #1EB0E0;
  border-bottom: 2px solid #1EB0E0;
  width: 80%;
  padding-bottom: 18px;
}

.rendered_html hr {
  color: #1EB0E0;
  background-color: #1EB0E0;
  width: 80%;
  border: 0;
  height: 2px;
  margin-left: 0px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.edit_mode div.cell.selected:before
{
  background: #F8AC1D;
}


.cell.rendered.selected:before,
.cell.unrendered.selected:before,
.cell.unrendered.unselected:before
{
  background: #1EB0E0;
}

.reveal img, .reveal video, .reveal iframe
{
  max-width: 100%;
  max-height: 100%;
}

#rise-overlay
{
  width: 100%;
  height: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

/*----------------------------*/
li {
	counter-increment: li;
}

ul {
  margin: 0;
  list-style: none;
  content: none;
}

ul li::before {
	content: " •";
/*	content: "⚬";*/
	color: var(--blue);
	display: inline-block;
	width: 1em;
	margin-left: -1em
}

ol {
	list-style: none;
	counter-reset: li}

ol li::before {
	content: counter(li) ".";
	color: var(--blue);
	display: inline-block;
	width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
	text-align: right;
/*	direction: rtl*/
}


.exercise {
    text-align: left;
	width: 500px;
	margin-left: 70px;
	margin-right: auto;
	margin-top: 3em;
}

.exercise i, em {
	font-weight: 100;
}

.exercise b, strong {
    color: var(--darkest-blue);
}

.exercise li {
	counter-increment: li;
}

.exercise ul {
  margin: 0;
  list-style: none;
}

.exercise ul li::before {
	content: "•";
/*	content: "⚬";*/
	color: var(--blue);
	display: inline-block;
	width: 1em;
	margin-left: -1em
}

.exercise ol {
	list-style: none;
	counter-reset: li}

.exercise ol li::before {
	content: counter(li) ".";
	color: var(--blue);
	display: inline-block;
	width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
	text-align: right;
/*	direction: rtl*/
}

.exercise h3 {
    color: var(--blue);
}

.exercise h4 {
	color: var(--dark-grey);
	font-style: italic;
	margin: .5em 0;
	font-weight: 100;
}

.exercise .bonus {
	color: var(--purple);
}

.exercise .extra {
	color: var(--green);
}

.exercise .hint {
	color: var(--dark-grey);
	font-style: italic;
	font-weight: 100;
}

.rendered_html h1
{
  color: var(--dark-blue);
  border-bottom: 2px solid #1EB0E0;
  width: 80%;
  padding-bottom: 18px;
}

.rendered_html hr {
  color: #1EB0E0;
  background-color: #1EB0E0;
  width: 80%;
  border: 0;
  height: 2px;
  margin-left: 0px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.rendered_html li {
	counter-increment: li;
}

.rendered_html ul {
  margin: 0;
  list-style: none;
}

.rendered_html ul li::before {
	content: "•";
	color: var(--blue);
	display: inline-block;
	width: 1em;
	margin-left: -1em
}

.rendered_html ol {
	list-style: none;
	counter-reset: li}

.rendered_html ol li::before {
	content: counter(li) ".";
	color: var(--blue);
	display: inline-block;
	width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
	text-align: right;
}