---
layout: default
---
<div class="home">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {{ content }}

  <ul class="til-list">
    {% for coll in site.collections %}
      {% if coll.label == "tils" %}
        {% assign sorted_tils = coll.docs | sort: 'date' | reverse %}
      {% endif %}
    {% endfor %}
    {% assign sorted_tils = sorted_tils | default: "" %}
    {% for til in sorted_tils %}
      <li class="til-item">
        <p class="til-meta-line">
          {% if til.series %}
            <span class="til-series">{{ til.series | escape }}</span>
          {% endif %}
          <span class="til-meta">{{ til.date | date: "%-d %B %Y" }}</span>
        </p>
        <h2 class="til-item-title">
          <a class="til-link" href="{{ til.url | relative_url }}">{{ til.title | escape }}</a>
        </h2>
        {% if til.excerpt %}
          {% assign teaser = til.excerpt | strip_html | normalize_whitespace | truncatewords: 50 %}
          <div class="til-excerpt">{{ teaser }}</div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
